SPOTIFY_CLIENT_ID=fb2f8688822c4e17be07e4056c087bc6
SPOTIFY_CLIENT_SECRET=bec9a4fc3cc54e15ae34225bf906772e
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback
SPOTIFY_SCOPE=user-library-read playlist-modify-public playlist-modify-private